__pycache__/
*.py[cod]
*.pth
*.npy
*.npz
*.nii
*.nii.gz
*.tar
*.tar.gz
*.zip
data/
checkpoints/
results/
*.csv
.ipynb_checkpoints/
.DS_Store
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.pdf
paper/*.synctex.gz
